@model IEnumerable<Bookit.Models.Book>

@{
    ViewData["Title"] = "Gallery";
}

<h2>Book Gallery</h2>

<form method="get" class="form-inline">
    <input name="term" value="@ViewData["term"]" class="form-control" style="width:300px"/>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<hr />

@foreach (var book in Model)
{
    <partial name="_BookItem" model="book" />
    <hr />
}
