@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="CreateInfo">
    <input name="name" />
    <input name="price" />
    <input name="maker.country" />
    <button type="submit">Send</button>
</form>
