@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>
<hr />

<a asp-action="CreateList">Create List</a>
<br />
<a asp-action="Upload">Upload Files</a>

<br />
<a asp-action="CreateFull">Create Complex</a>

